<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/dashboard.css">
</head>
<%- include('partials/header'); -%>
<div class="main">
    <h1>DASHBOARD : <%= user.firstname %> </h1>
    <p><a href="/jobcreation">Create a new job</a></p>
    <div class="filters">
      <div class="filter_by">
        <label for="select_filter_by">Filter By</label>
        <select name="select_filter_by" id="select_filter_by">
          <option value="Status">Status</option>
          <option value="Date">Date</option>
        </select>
      </div>
      <div class="order_by">
        <label for="order_by">Order By</label>
        <select name="order_by" id="order_by">
          <option value="asc">Asc</option>
          <option value="desc">Desc</option>
        </select>
      </div>
    </div>
    
    <div class="job_grid">
      
      <% for (let item of list) { %>
        <div class="card" id=<%= item._id %>>
          <div class="status">
            <p><%= item.status %></p>
          </div>
          <h2><%= item.jobtitle %></h2>
          <p><%= item.company_name %></p>
          <form id="form<%=item._id %>" action="/getjob" method="post"> 
            <input  name="id" value="<%= item._id %>">
            <input  name="user_id" value="<%= item.user_id %>">
            <a href="/job/<%=item._id%>" class="seemore">See more...</a>
          </form>
          <div class="delete_card">
            <a href="#">Delete</a>
          </div>
        </div>
        <dialog  class="delete_job">
          <div class="delete_confirm">
            <p>Are you sure you want to delete this ?</p>
            <div class="delete_buttons">
              <form action="/delete_job" method="post">
                <input type="hidden" name="job_id" value="<%=item._id%>">
                <button class="btn_yes btn">Yes</button>
              </form>
              <button class="btn_no btn">No</button>
            </div>
          </div>
        </dialog>
      <% } %>
        
    </div>
</div>

<dialog class="modal-seemore">

</dialog>

<%- include('partials/footer'); -%>
</body>
<script>
let modal=document.querySelector('.delete_job');
let delete_card=document.querySelector('.delete_card');
let yes=document.querySelector('.btn_yes');
let no=document.querySelector('.btn_no');
delete_card.addEventListener('click',()=>{
  modal.showModal();
});
no.addEventListener('click',()=>{
  modal.close();
});
yes.addEventListener('click',()=>{
  modal.close();
  console.log("Handle the delete");
});

</script>
</html>