<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jobcreation</title>
  <link rel="stylesheet" href="/job.css">
</head>
<%- include('partials/header'); -%>
<div class="job-creation-container">
    <a href="/dashboard" >Back to dashboard</a>
    <div class="form-div">
        <form action="/jobupdate/<%=job._id%>" method="get">
            <h1 class="jobtitle"><%= job.jobtitle %></h1>
            <p class="company_name">Company : <%= job.company_name %></p>
            <p class="website">Website : </p>
            <hr>
            <h2>Contact of the employer</h2>
            <p>Name : <span><p class="contact_name"></p></span></p>
            <p class="email">Email : <%= job.email %></p>
            <p class="address">Address : <%= job.address %></p>
            <hr>
            <h2 class="origin"></h2>
            <p class="status">Status : <%= job.status %></p>
            <p class="comments">Comment : <%=job.comments %></p>

            <button>Update</button>
    
        </form>
    </div>
    
</div>    

<%- include('partials/footer'); -%>
</body>
</html>